In [1]:
import pandas as pd 
import re

In [2]:
transaction_df = pd.read_csv("transcation_csv.csv")
transaction_df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,17/10/18,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,14/05/19,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,20/05/19,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,17/08/18,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,18/08/18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [3]:
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  object
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(5), object(2)
memory usage: 16.2+ MB

In [4]:
#change DATE and PROD_NAME type
transaction_df["DATE"] = pd.to_datetime(transaction_df["DATE"])
transaction_df['PROD_NAME'] = transaction_df.PROD_NAME.astype(str)
transaction_df["PROD_NAME"] = transaction_df.PROD_NAME.str.lower()

In [5]:
potato_df = transaction_df[transaction_df["PROD_NAME"].str.contains("potato chips")]

In [6]:
potato_df.shape

(4647, 8)

In [7]:
potato_df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
86,2019-05-19,115,115381,118981,29,french fries potato chips 175g,1,3.0
97,2018-08-16,128,128231,132121,28,thins potato chips hot & spicy 175g,1,3.3
211,2018-01-11,1,1348,390,28,thins potato chips hot & spicy 175g,1,3.3
221,2018-09-23,2,2203,805,28,thins potato chips hot & spicy 175g,1,3.3
254,2018-06-08,4,4016,2713,28,thins potato chips hot & spicy 175g,2,6.6

In [8]:
potato_df["PROD_NAME"] = potato_df["PROD_NAME"].str.replace('(\d+.)',"")

/home/sdbhagat1323/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
#replace all bad charecter form prod_name
bad_char =  ["%", "/", "&", ",", "(",")"]

for i in bad_char:
    potato_df["PROD_NAME"] = potato_df.PROD_NAME.str.replace(i, "").astype(str)

/home/sdbhagat1323/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [10]:
potato_df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
86,2019-05-19,115,115381,118981,29,french fries potato chips,1,3.0
97,2018-08-16,128,128231,132121,28,thins potato chips hot spicy,1,3.3
211,2018-01-11,1,1348,390,28,thins potato chips hot spicy,1,3.3
221,2018-09-23,2,2203,805,28,thins potato chips hot spicy,1,3.3
254,2018-06-08,4,4016,2713,28,thins potato chips hot spicy,2,6.6

potato_df["PROD_NAME"] = potato_df["PROD_NAME"].apply(lambda x : x.split())

In [11]:
potato_df.head()
print(potato_df.shape)

(4647, 8)

In [12]:
potato_df["PROD_NAME"].value_counts()

thins potato chips  hot  spicy     3229
french fries potato chips          1418
Name: PROD_NAME, dtype: int64

In [24]:
for i in PROD_LIST:
    print(i)
pd.set_option('display.max_rows', None)

kettle mozzarella   basil & pesto 175g      3304
kettle tortilla chpshny&jlpno chili 150g    3296
cobs popd swt/chlli &sr/cream chips 110g    3269
tyrrells crisps     ched & chives 165g      3268
cobs popd sea salt  chips 110g              3265
kettle 135g swt pot sea salt                3257
tostitos splash of  lime 175g               3252
infuzions thai sweetchili potatomix 110g    3242
smiths crnkle chip  orgnl big bag 380g      3233
thins potato chips  hot & spicy 175g        3229
kettle sensations   camembert & fig 150g    3219
doritos corn chips  cheese supreme 170g     3217
pringles barbeque   134g                    3210
doritos corn chip mexican jalapeno 150g     3204
kettle sweet chilli and sour cream 175g     3200
smiths crinkle chips salt & vinegar 330g    3197
thins chips light&  tangy 175g              3188
dorito corn chp     supreme 380g            3185
pringles sweet&spcy bbq 134g                3177
tyrrells crisps     lightly salted 165g     3174
infuzions bbq rib   prawn crackers 110g     3174
kettle sea salt     and vinegar 175g        3173
doritos corn chip southern chicken 150g     3172
twisties chicken270g                        3170
twisties cheese     burger 250g             3169
grain waves         sweet chilli 210g       3167
pringles sourcream  onion 134g              3162
doritos corn chips  nacho cheese 170g       3160
cobs popd sour crm  &chives chips 110g      3159
kettle original 175g                        3159
pringles original   crisps 134g             3157
cheezels cheese 330g                        3149
kettle honey soy    chicken 175g            3148
kettle tortilla chpsbtroot&ricotta 150g     3146
tostitos smoked     chipotle 175g           3145
infzns crn crnchers tangy gcamole 110g      3144
smiths crinkle      original 330g           3142
kettle tortilla chpsfeta&garlic 150g        3138
infuzions sourcream&herbs veg strws 110g    3134
kettle sensations   siracha lime 150g       3127
old el paso salsa   dip chnky tom ht300g    3125
doritos corn chips  original 170g           3121
twisties cheese     270g                    3115
doritos mexicana    170g                    3115
old el paso salsa   dip tomato med 300g     3114
pringles mystery    flavour 134g            3114
thins chips seasonedchicken 175g            3114
grain waves sour    cream&chives 210g       3105
pringles chicken    salt crips 134g         3104
thins chips salt &  vinegar 175g            3103
pringles slt vingar 134g                    3095
old el paso salsa   dip tomato mild 300g    3085
kettle sensations   bbq&maple 150g          3083
pringles sthrn friedchicken 134g            3083
tostitos lightly    salted 175g             3074
doritos cheese      supreme 330g            3052
kettle chilli 175g                          3038
smiths chip thinly  cut original 175g       1614
snbts whlgrn crisps cheddr&mstrd 90g        1576
natural chip co     tmato hrb&spce 175g     1572
burger rings 220g                           1564
natural chipco sea  salt & vinegr 175g      1550
ccs tasty cheese    175g                    1539
rrd sr slow rst     pork belly 150g         1526
smiths thinly cut   roast chicken 175g      1519
rrd sweet chilli &  sour cream 165g         1516
woolworths cheese   rings 190g              1516
ccs original 175g                           1514
rrd honey soy       chicken 165g            1513
smith crinkle cut   mac n cheese 150g       1512
ww supreme cheese   corn chips 200g         1509
infuzions mango     chutny papadums 70g     1507
rrd chilli&         coconut 150g            1506
smiths crinkle cut  snag&sauce 150g         1503
red rock deli sp    salt & truffle 150g     1498
ccs nacho cheese    175g                    1498
red rock deli thai  chilli&lime 150g        1495
ww original corn    chips 200g              1495
woolworths mild     salsa 300g              1491
smiths crinkle cut  chips barbecue 170g     1489
ww original stacked chips 160g              1487
smiths crinkle cut  chips chicken 170g      1484
ww sour cream &onionstacked chips 160g      1483
smiths crinkle cut  chips chs&onion170g     1481
cheetos chs & bacon balls 190g              1479
rrd salt & vinegar  165g                    1474
rrd lime & pepper   165g                    1473
smiths chip thinly  s/cream&onion 175g      1473
doritos salsa mild  300g                    1472
smiths crinkle cut  tomato salsa 150g       1470
ww d/style chip     sea salt 200g           1469
natural chip        compny seasalt175g      1468
grnwves plus btroot & chilli jam 180g       1468
ww crinkle cut      chicken 175g            1467
smiths thinly       swt chli&s/cream175g    1461
smiths crinkle cut  chips original 170g     1461
natural chipco      hony soy chckn175g      1460
red rock deli sr    salsa & mzzrlla 150g    1458
rrd steak &         chimuchurri 150g        1455
smiths crinkle cut  salt & vinegar 170g     1455
cheezels cheese box 125g                    1454
smith crinkle cut   bolognese 150g          1451
doritos salsa       medium 300g             1449
cheetos puffs 165g                          1448
thins chips         originl saltd 175g      1441
smiths chip thinly  cutsalt/vinegr175g      1440
smiths crinkle cut  french oniondip 150g    1438
red rock deli chikn&garlic aioli 150g       1434
sunbites whlegrn    crisps frch/onin 90g    1432
rrd pc sea salt     165g                    1431
woolworths medium   salsa 300g              1430
ncc sour cream &    garden chives 175g      1419
french fries potato chips 175g              1418
ww crinkle cut      original 175g           1410
Name: PROD_NAME, dtype: int64

In [22]:
pd.set_option('display.max_rows', None)